<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-item routerLink="/home">Home</ion-item>
          <ion-item routerLink="/lista-produtos">Produtos</ion-item>

          <ion-item (click)="logout()" (keydown.enter)="logout()" color="danger" class="logout-button" tabindex="0">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-app>
      <ion-router-outlet></ion-router-outlet>
    </ion-app>

  </ion-split-pane>
</ion-app>
